@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label,
  input,
  button,
  textarea {
    @apply cursor-pointer;
  }
}

@font-face {
  font-family: 'Dunggeunmo';
  font-weight: normal;
  src: url('./fonts/NeoDunggeunmoPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SangSangShinb7';
  src: url('./fonts/SSShinb7Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Dunggeunmo';
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.header-hidden {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.header-hidden:hover {
  opacity: 1;
}
.cursor-custom:active {
  cursor: url('./assets/cursor/MouseHold.png'), auto;
}

.letter {
  font-family: 'SangSangShinb7';
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%);
    opacity: 0;
  }
}

.alert-enter {
  animation: slideIn 0.5s forwards;
}

.alert-exit {
  animation: slideOut 0.5s forwards;
}
