@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label,
  input,
  button,
  textarea {
    @apply cursor-pointer;
  }
}

@font-face {
  font-family: 'Dunggeunmo';
  font-weight: normal;
  src: url('./fonts/NeoDunggeunmoPro-Regular.ttf') format('truetype');
}

body {
  font-family: 'Dunggeunmo';
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.header-hidden {
  opacity: 0;
  transition: opacity 0.7s;
}

.header-hidden:hover {
  opacity: 1;
}

.cursor-custom:active {
  cursor: url('./assets/cursor/MouseHold.png'), auto;
}
