@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dunggeunmo';
  font-weight: normal;
  src: url('./fonts/NeoDunggeunmoPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SangSangShinb7';
  src: url('./fonts/SSShinb7Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Dunggeunmo';
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.header-hidden {
  opacity: 0;
  transition: opacity 0.7s;
}

.header-hidden:hover {
  opacity: 1;
}

.letter {
  font-family: 'SangSangShinb7';
}
